body,html{
	margin:0;
	width:100%;
	height:100%;
	}
section{
	position:relative;
	width:100%;
	height:100%;
	}
.stop{
	background:url(../img/mainbg.jpg) ;
	background-repeat: no-repeat;
	background-size:100% 100%;
	}
.logo{
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	}

#outerspace {
	background:url(../img/outerspace.jpg);
	overflow:hidden;
}
div.rocket {
	position: absolute;
	bottom: 10px;
	left: 20px;
	-webkit-transition: 5s ease-in;
	-moz-transition: 5s ease-in;
	-o-transition: 5s ease-in;
	transition: 5s ease-in;
	width: 92px;
	height: 215px;
	background: url(../img/rocket.gif) no-repeat;
}
/* hover final state */
#outerspace:hover div.rocket {
	-webkit-transform: rotate(70deg);
	-moz-transform: rotate(70deg);
	-o-transform: rotate(70deg);
	-ms-transform: rotate(70deg);
	transform: rotate(70deg);
	left: 105%;
	bottom: 500px;
}
@keyframes fer{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}
}
@keyframes ferr{
	from{transform:rotate(0deg)}
	to{transform:rotate(1200deg)}
}
@keyframes plane{
	to{right:100%}
}
@keyframes seed1{
	to{left:94%;
		bottom:100%;}
}
@keyframes seed2{
	to{left:80%;
		bottom:100%;}
}
@keyframes seed3{
	to{left:99%;
		bottom:100%;}
}
@keyframes seed4{
	to{left:60%;
		bottom:100%;}
}
@keyframes smok{
	from{background-position:0 0}
	to{background-position:600px 0}
}
@keyframes ball{
	0%{transform:rotate(10deg);top:85%;}
	50%{transform:rotate(360deg);top:35%;}
	100%{transform:rotate(740deg);top:85%;}
}
.bc{
	overflow:hidden;
	background-image:url(../img/nature.jpg);
	background-size:100% 100%;
}
.chob{
	width:81px;
	height:220px;
	position:absolute;
	bottom:0px;
	left:70%;
}
.fer{
	width:180px;
	height:180px;
	position:absolute;
	bottom:126px;
	left:68.5%;
	animation:fer 6s linear infinite ;
}
.fer:hover{
	animation:ferr 1s linear infinite;
}
.plane{
	width:50px;
	height:40px;
	background:url(../img/plane.png) ;
	background-size:100%;
	float:left;
}
.smoke{
	float:left;
	width:50px;
	height:40px;
	background:url(../img/smoke.png) repeat-x;
	animation:smok 10s linear infinite;
	background-size:100%;
}
.palan{
	position:absolute;
	top:4%;
	right:-14%;
	width:120px;
	height:50px;
	animation:plane 10s linear infinite;
}
.Dandelion{
	position:absolute;
	bottom:0;
	left:100px;

}
.seed{
	position:absolute;
	width:56px;
}
.seed1{
	bottom:181px;
	left:218px;
}
.seed2{
	bottom:149px;
	left:227px;
	transform:rotate(47deg);
}
.seed3{
	bottom:160px;
	left:227px;
	transform:rotate(30deg);
}
.seed4{
	bottom:193px;
	left:198px;
	transform:rotate(-23deg);
}

.Dandelion:hover ~ .seed1{
	animation:seed1 4s linear forwards;
}
.Dandelion:hover ~ .seed2{
	animation:seed2 4s linear forwards;
}
.Dandelion:hover ~ .seed3{
	animation:seed3 4s linear forwards;
}
.Dandelion:hover ~ .seed4{
	animation:seed4 4s linear forwards ;
}

.sbottom{
	background: linear-gradient(141deg, #0fb0a5 0%, #1fc8db 51%, #2cb5e8 75%);
	animation: anim 6s ease infinite;
	background-size: 600% 600%!important;
	}
@keyframes anim {
	0%{background-position:0% 43%}
	50%{background-position:100% 58%}
	100%{background-position:0% 43%}
}
.ball{
	animation:ball 2s cubic-bezier(.45,.05,.55,.95) infinite ;
	animation-direction:alternate;}
.ball1{
	position:absolute;
	left:60%;
	top:80%;
	}
.ball2{
	animation-delay:0.5s;
	position:absolute;
	left:70%;
	top:80%;
	}
.ball3{
	animation-delay:1.2s;
	position:absolute;
	left:80%;
	top:80%;
	}
	nav{
		position:fixed;
		right:40px;
		top:40px;
		width:80px;
		height:80px;
	}
#menue{
	z-index: 1;
}
.menu {
	position:absolute;
	right:0;
	top:0;
	width:80px;
	height:80px;
    text-align:center;
	background-color:#4558E8;
	border-radius:50px;
	transition:all 1s ease;
}
nav img {
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
	width:50px;
	height:50px;
	transform:translate(-50%,-50%);
}
#home {
	transition-delay:0.5s;
	background-color: red;
}
#mail {
	transition-delay:1s;
	background-color: red;
}
#services {
	transition-delay:2s;
	background-color: red;
}
nav:hover #home {
	transform:translate(-83px);
}
nav:hover #mail{
	transform:translate(-166px);
}
nav:hover #services {
	transform:translate(-252px);
}